.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

.sensor-card {
    background-color: lightblue;
    padding: 8px;
    border-radius: 10px;
    margin: auto;
}
